/* GameAuth Container */
.game-container {
 width: calc(100vw - 150px);
 margin-left: 150px;
 padding-top: 40px;
 padding-left: 20px;
 padding-right: 20px;
 font-size: 15px;
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.game-video-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  /* Ensure the container is full width */
}

.video-box {
  width: 100%;
  /* Set to 100% width of the parent container */
  max-width: 800px;
  /* Set a max width for larger screens */
  aspect-ratio: 16 / 9;
  /* Ensure the aspect ratio of the video stays correct */
  overflow: hidden;
}

iframe {
  width: 90%;
  /* Make iframe take full width of the container */
  height: 90%;
  /* Make iframe take full height of the container */
  border: none;
}



/* Toggle Edit Button */
.toggle-button {
 font-size: 14px;
 background: none;
 border: none;
 cursor: pointer;
 color: rgb(20, 122, 231);
 font-weight: bold;
}

.toggle-button:hover {
 text-decoration: underline;
}

/* Tables */
.gameAuth-stat-table {
 width: 100%;
 border-collapse: collapse;
 border: none;
 font-size: 13px;
}

.gameAuth-stat-table th:first-child,
.gameAuth-stat-table td:first-child {
  text-align: left;
}
.gameAuth-stat-table th,
.gameAuth-stat-table td {
 padding: 2px;
 text-align: center;
}

.gameAuth-stat-table th {
 border-top: 1px solid rgb(224, 219, 219);
 border-bottom: 1px solid rgb(224, 219, 219);
}

.gameAuth-stat-table td a {
 text-decoration: none;
 color: black;
}

.team-container-away {
 margin-top: 3rem;
}
.gameAuth-stat-table td a:hover {
 text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
.total-row {
border-top: 1px solid rgb(224, 219, 219);
}


/* Stat Input Fields */
.stat-input {
 width: 35px;
 padding: 2px;
 text-align: center;
 font-size: 10px;
 border: 1px solid #ccc;
 border-radius: 4px;
 outline: none;
}




/* Responsive Styling */
@media (max-width: 768px) {
 .game-container{
 width: 100%;
  margin-left: 0;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  color: black;
  padding-top: 5rem;
  font-size: 10px;
 }
  .stat-input {
   width: 30px;
   padding: 0px;
   text-align: center;
   font-size: 14px;
   border: 1px solid #ccc;
   border-radius: 4px;
   outline: none;
  }

 .gameAuth-stat-table th,
 .gameAuth-stat-table td {
  text-align: center;
 }
}

@media (max-width: 578px) {
 .delete-gameAuth-btn {
  padding-left: 1.2%;
 }
    .game-container {
     width: 100%;
     margin-left: 0;
     padding-bottom: 20px;
     padding-left: 10px;
     padding-right: 10px;
     display: flex;
     flex-direction: column;
     color: black;
     padding-top: 5rem;
     font-size: 7px;
    }
      .stat-input {
       width: 20px;
       padding: 0px;
       text-align: center;
       font-size: 10px;
       border: 1px solid #ccc;
       border-radius: 4px;
       outline: none;
      }
}

@media (max-width: 380px) {
     .game-container {
       width: 100%;
       margin-left: 0;
       padding-bottom: 20px;
       padding-left: 5px;
       padding-right: 5px;
       display: flex;
       flex-direction: column;
       color: black;
       padding-top: 5rem;
       font-size: 5px;
      }
     
      .stat-input {
       width: 10px;
       padding: 0px;
       text-align: center;
       font-size: 7px;
       border: 1px solid #ccc;
       border-radius: 4px;
       outline: none;
      }
}