.schedule-container {
  height: 100vh;
  width: calc(100vw - 150px);
  margin-left: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

.schedule-league-name-container {
  height: 60px;
  text-align: center;
}


.schedule-game-container-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.schedule-game-container-table th {
  border-top: 1px solid rgb(224, 219, 219);
    border-bottom: 1px solid rgb(224, 219, 219);
}

.schedule-game-container-table td {
  text-align: center;
}
.schedule-game-container-table td a {
      text-decoration: none; 
      color: black;
}

.schedule-game-container-table td a:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, 1)
}

