/* For Team List */
.team-list {
 margin-top: 20px;
 width: 80%;
 display: flex;
 flex-direction: column;
 align-items: center;

}

.team-list h3 {
 font-size: 1.25rem;
 margin-bottom: 15px;
}

.team-list ul {
 list-style: none;
 padding-left: 0;
}

.team-list li {
 padding: 10px;
 border: 1px solid #ddd;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.team-list li button {
 background-color: #007bff;
 color: white;
 border: none;
 padding: 2px 10px;
 cursor: pointer;
 margin-left: 3px;
}

.team-list li button:hover {
 background-color: #0056b3;
}

input[type="text"]:disabled {
 background-color: #f9f9f9;
 border-color: #ddd;
}

.team-columns {
 display: flex;
 gap: 20px;
 width: 100%;
 justify-content: space-between;
}

.team-columns ul {
 flex: 1;
 list-style: none;
 padding-left: 0;
}