.leagueList_auth {
width: calc(100vw - 150px);
margin-left: 150px;
padding-bottom: 2rem;
padding-left:  20px;
padding-right: 20px;
border: none;
}

.leagueList-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  
}

.leagueList-update-btn {
  width: 30%;
  font-size: 12px;
  background: none;
  border: none;
  cursor: pointer;
  width: auto;
  color: rgb(20, 122, 231)
}
.add-leagueList-btn {
  background-color: white;
  cursor: pointer;
  display: flex;
  border: none;
  transition: transform 0.1s ease-out;
  padding-right: 7px;
}
.add-leagueList-btn:hover {
  transform: scale(1.1)
}
.delete-leagueList-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease-out;
  /* ✅ Smooth scaling effect */
}

.delete-leagueList-btn:hover {
  transform: scale(1.2);
  /* ✅ Grows without affecting layout */
}
.leagueList-table {
width: 100%;
border-collapse: collapse;
border: none;
}

.leagueList-table th,
.leagueList-table td {
 padding: 2px;
 text-align: left;
}
.leagueList-table th {
  border-top: 1px solid rgb(224, 219, 219);
  border-bottom: 1px solid rgb(224, 219, 219);
}

  .leagueList-table td a {
   text-decoration: none;
   color: black;
  }
 
  .leagueList-table td a:hover {
   text-shadow: 0 0 1px rgba(0, 0, 0, 1)
  }



/* ✅ Modal Styling */
.modal-overlay {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.5);
 display: flex;
 justify-content: center;
 align-items: center;
}

.modal-content {
 background: white;
 padding: 20px;
 border-radius: 10px;
 width: 300px;
 text-align: center;
}

.modal-content input {
 width: 100%;
 padding: 10px;
 margin: 10px 0;
 border: 1px solid #ddd;
 border-radius: 5px;
}

.modal-content button {
 padding: 10px;
 margin: 5px;
 cursor: pointer;
 border-radius: 5px;
}

.modal-content button[type="submit"] {
 background-color: #007bff;
 color: white;
 border: none;
}

.modal-content button[type="submit"]:hover {
 background-color: #0056b3;
}

.modal-content button[type="button"] {
 background-color: #ccc;
 border: none;
}

.modal-content button[type="button"]:hover {
 background-color: #999;
}

@media (max-width: 768px) {
    .leagueList_auth {
        width: 100%;
        margin-left: 0;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        color: black;
        padding-top: 5rem
      }

.leagueList-table th,
.leagueList-table td {
  text-align: center;
}

.delete-leagueList-btn {
padding-left: 2%;
}
}

@media (max-width: 578px) {
  .delete-leagueList-btn {
    padding-left: 1.2%;
  }
}