.playerList_public {
  margin-top: 8rem;
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

}
/* Grid layout for player cards */
.public-player-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 width: 100%;
 padding-left: 20px;
 padding-right: 20px;
 gap: 10px;
  }

/* Individual player card */
.player-public-card {
background: #0a192f;

 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
 text-align: center;
transition: transform 0.2s, box-shadow 0.2s;
border: 2px solid #64ffda;
/* Neon blue/green accent */
  height: 180px;
    /* reduce card height */
    min-width: 130px;
    /* optional: shrink card width */
    padding: 8px;
color: #e0f7fa;
}

.player-public-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(100, 255, 218, 0.4);
  border-color: #00bcd4;
}

.player-public-card a {
text-decoration: none;
color: #64ffda
}
/* Player image as a circle */
.player-public-image {
 width: 120px;
 height: 130px;
 object-fit: cover;
 border-radius: 5%;
 border: 3px solid #64ffda;
 margin-bottom: 2px;
}

/* Player name */
.player-public-name {
 font-size: 16px;
 font-weight: bold;
 color:#64ffda;
 border: 2px solid #64ffda;
 margin-bottom: 10px;
}



