.dashboard_container {
  width: calc(100vw - 150px);
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 768px) {
.dashboard_container {
    width: 100%;
     margin-left: 0;
     padding-left: 10px;
     padding-right: 10px;
 }
}