.team_auth {
 height: 100vh;
 width: calc(100vw - 150px);
 /* Subtract sidebar width */
 padding-left: 100px;
 /* Push content right */
}

.team_public {
 height: calc(100vh - 80px);
 width: 100%;
 padding-top: 70px;
}

/* ✅ Fix mobile view */
@media (max-width: 768px) {
 .team_auth {
  width: 100vw;
  /* Full width when sidebar is hidden */
  padding-left: 0;
  /* No margin when sidebar is closed */
  padding-top: 80px;
 }


}