.navbar_container {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 60px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 20px;
 z-index: 1000;
}
/* Light Theme */
.light-theme {
 background-color: white;
 color: black;
}

/* Dark Theme */
.dark-theme {
 background-color: black;
 color: white;
}
.navbar_list {
 display: flex;
 list-style: none;
 gap: 24px;
 margin: 0;
 padding: 0;
}

.navbar_list li {
 display: inline-block;
}

.navbar_list a {
 text-decoration: none;
 font-size: 20px;
 padding: 10px 15px;
 color: inherit;
}

.navbar_list a:hover,
.navbar_list a.active-class {
 border-radius: 5px;
}

.navbar_hamburger {
 display: none;
 background: none;
 border: none;
 font-size: 24px;
 cursor: pointer;
}
/* Dark mode navbar links */
.navbar_container.dark-theme .navbar_list a {
 color: white;
}

/* Light mode navbar links */
.navbar_container.light-theme .navbar_list a {
 color: black;
}
.navbar_container.dark-theme .navbar_list a:hover {
  background-color: #222;
  color: white;
}

.navbar_container.light-theme .navbar_list a:hover {
  background-color: #f0f0f0;
  color: black;
}

/* Mobile Styles */
@media (max-width: 768px) {
 .navbar_hamburger {
  display: block;
  padding-top: 10px;
  color: inherit;
 }

 .navbar_list {
  position: absolute;
  top: 50px;
  /* Below the navbar */
  left: 0;
  width: 100%;
  background-color: inherit;
  flex-direction: column;
  text-align: center;
  display: none;
 }

 .navbar_list.open {
  display: flex;
 }

 .navbar_list li {
  width: 100%;
 }

 .navbar_list a {
  display: block;
  padding: 15px;

 }
}