/* GamePublic Container */
.gamePublic-container {
 width: 100%;
 margin-top: 80px;
 font-size: 15px;
 display: flex;
 flex-direction: column;
 align-items: center;
}


.game-video-container {
  margin: 20px 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  width: 80%;
}

.video-box {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

iframe {
  width: 100%;
  /* Make iframe take full width of the container */
  height: 100%;
  /* Make iframe take full height of the container */
  border: none;
}



.gamePublic-periods-container{
 width: 100%;
 padding: 0px 10px;
 display: flex;
 flex-direction: column;
 align-items: center;

}
.gamePublic-periods-table {
 width: 90%;
 border-collapse: collapse;
 border: none;
 font-size: 13px;
 border-bottom: 1px solid white
}
.gamePublic-periods-table tbody tr:last-child td {
 padding-bottom: 10px;
 /* Adjust the spacing as needed */
}
.gamePublic-periods-final-score{
 width: 80%;
 display: flex;
 justify-content: space-between;
 font-size: 25px;
 padding: 10px 0px;
}

.gamePublic-periods-table th:first-child,
.gamePublic-periods-table td:first-child {
 text-align: left;
}

.gamePublic-periods-table th,
.gamePublic-periods-table td {
 padding: 2px;
 text-align: center;
}



.gamePublic-periods-table th {
 padding-top: 10px;
 border-top: 1px solid rgb(224, 219, 219);

}

.gamePublic-periods-table td a {
 text-decoration: none;
 color: black;
}


.gamePublic-periods-table td a:hover {
 text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}


.teamPublic-container-away {
  width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.teamPublic-container-home {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

/* Tables */
.gamePublic-stat-table {
 width: 90%;
 border-collapse: collapse;
 border: none;
 font-size: 13px;
}

.gamePublic-stat-table th:first-child,
.gamePublic-stat-table td:first-child {
 text-align: left;
}

.gamePublic-stat-table th,
.gamePublic-stat-table td {
 padding: 2px;
 text-align: center;
}

.gamePublic-stat-table th {
 border-top: 1px solid rgb(224, 219, 219);
 border-bottom: 1px solid rgb(224, 219, 219);
}

.gamePublic-stat-table td a {
 text-decoration: none;
 color: black;
}

.teamPublic-container-away {
 margin-top: 3rem;
}

.gamePublic-stat-table td a:hover {
 text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

.totalPublic-row {
 border-top: 1px solid rgb(224, 219, 219);
}


/* Stat Input Fields */
.stat-input {
 width: 35px;
 padding: 2px;
 text-align: center;
 font-size: 10px;
 border: 1px solid #ccc;
 border-radius: 4px;
 outline: none;
}

@media (max-width: 768px) {
  .gamePublic-container {
      width: 100%;
      margin-top: none;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  .game-video-container {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Ensure the container is full width */
  }

  .video-box {
    width: 80%;
    /* Set to 100% width of the parent container */
    /* Set a max width for larger screens */
    aspect-ratio: 16 / 9;
    /* Ensure the aspect ratio of the video stays correct */
    overflow: hidden;
  }

  iframe {
    width: 100%;
    /* Make iframe take full width of the container */
    height: 100%;
    /* Make iframe take full height of the container */
    border: none;
  }
}


@media (max-width: 578px) {
  .gamePublic-periods-table,
  .gamePublic-stat-table {
    width: 90%;
    display: table ;
    /* Ensure it is visible */
    overflow-x: auto;
    /* Allow horizontal scrolling if needed */
  }
    .gamePublic-stat-table th,
    .gamePublic-stat-table td {
      text-align: center;
    }
  }

    @media (max-width: 480px) {
      .gamePublic-periods-table,
      .gamePublic-stat-table {
        width: 90%;
        display: table;
        overflow-x: auto;
        font-size: 10px;
      }
  
      .gamePublic-stat-table th,
      .gamePublic-stat-table td {
        text-align: center;
      }
    }

@media (max-width: 380px) {

  .gamePublic-periods-table,
  .gamePublic-stat-table {
    width: 90%;
    display: table;
    overflow-x: auto;
    font-size: 7px;
  }

  .gamePublic-stat-table th,
  .gamePublic-stat-table td {
    text-align: center;
  }
}

