/* GamePublic Container */
.gamePublic-container {
 width: 100%;
 margin-top: 80px;
 padding-left: 20px;
 padding-right: 20px;
 font-size: 15px;
}



/* Tables */
.gamePublic-stat-table {
 width: 100%;
 border-collapse: collapse;
 border: none;
 font-size: 13px;
}

.gamePublic-stat-table th:first-child,
.gamePublic-stat-table td:first-child {
 text-align: left;
}

.gamePublic-stat-table th,
.gamePublic-stat-table td {
 padding: 2px;
 text-align: center;
}

.gamePublic-stat-table th {
 border-top: 1px solid rgb(224, 219, 219);
 border-bottom: 1px solid rgb(224, 219, 219);
}

.gamePublic-stat-table td a {
 text-decoration: none;
 color: black;
}

.teamPublic-container-away {
 margin-top: 3rem;
}

.gamePublic-stat-table td a:hover {
 text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

.totalPublic-row {
 border-top: 1px solid rgb(224, 219, 219);
}


/* Stat Input Fields */
.stat-input {
 width: 35px;
 padding: 2px;
 text-align: center;
 font-size: 10px;
 border: 1px solid #ccc;
 border-radius: 4px;
 outline: none;
}




/* Responsive Styling */
@media (max-width: 768px) {
 .game-container {
  width: 100%;
  margin-left: 0;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  color: black;
  padding-top: 5rem;
  font-size: 10px;
 }

 .statPublic-input {
  width: 30px;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
 }

 .gamePublic-stat-table th,
 .gamePublic-stat-table td {
  text-align: center;
 }
}

@media (max-width: 578px) {
 .delete-gamePublic-btn {
  padding-left: 1.2%;
 }

 .gamePublic-container {
  width: 100%;
  margin-left: 0;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  color: black;
  padding-top: 5rem;
  font-size: 7px;
 }

 .statPublic-input {
  width: 20px;
  padding: 0px;
  text-align: center;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
 }
}

@media (max-width: 380px) {
 .gamePublic-container {
  width: 100%;
  margin-left: 0;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  color: black;
  padding-top: 5rem;
  font-size: 5px;
 }

 .stat-input {
  width: 10px;
  padding: 0px;
  text-align: center;
  font-size: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
 }
}