* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,
body,
#root {
 width: 100%;
 min-height: 100vh;
 /* 🔥 Ensures content takes full screen */
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
}
/* Default light theme */
.light-theme {
 background-color: white;
 color: black;
}

/* Dark theme */
.dark-theme {
 background-color: black;
 color: white;
}
.app_container {
 display: flex;
 width: 100vw;
 height: auto;
 /* ✅ Prevents forcing extra space */
 min-height: 100vh;
}

body {
 font-family: 'Arial', sans-serif !important;
 /* 🔥 Ensure consistency */
}

.content_wrapper {
 flex: 1;
 display: flex;
 overflow-x: hidden;
 align-items: flex-start;
 /* ✅ Prevents unwanted vertical stretching */
}

.content_wrapper_public {
  flex: 1;
  display: flex;
  overflow-x: hidden;

 }
