.statAuth-container {
  height: 100vh;  
  width: 100%;
  margin-left: 150px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats-title {
  border: 1px solid orange;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .statAuth-container {
        width: 100%;
          margin-left: 0;
          padding-bottom: 20px;
          padding-left: 10px;
          padding-right: 10px;
          display: flex;
          flex-direction: column;
          color: black;
          padding-top: 5rem
  }
}
